@model Project_MVC.Models.applyjob
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Apply Now</h2>
<br />
<div>
    @using (Html.BeginForm("job_click", "ApplyJob", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            <label>Date</label>
        </div>
        <div>
            @Html.TextBoxFor(m => m.date, new { @type = "date" })

            @*<input type="date"/>*@
        </div>
        <div>
            <label>Upload Resume</label>
        </div>
        <div>
            @Html.TextBox("file","",new {Type="file" })
        </div>
        <div>
            <input type="submit" value="Apply" />
            @Html.DisplayFor(m=> m.msg)
        </div>
    }
    <div>
        @Html.ActionLink("Back to Jobs", "DisplayAllJob_Load","DisplayAllJob")
    </div>
</div>

